[project]
	description = An K-Dimensional Tree in Erlang
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/flodihn
[access "refs/for/refs/*"]
	read = group user/flodihn
	push = group user/flodihn
	label-Code-Review = -2..+2 group user/flodihn
	label-Verified = -1..+1 group user/flodihn
	rebase = group user/flodihn
	removeReviewer = group user/flodihn
	submit = group user/flodihn
[access "refs/heads/*"]
	read = group user/flodihn
	create = group user/flodihn
	push = +force group user/flodihn
	pushMerge = group user/flodihn
[access "refs/tags/*"]
	push = +force group user/flodihn
	pushTag = group user/flodihn
	pushSignedTag = group user/flodihn
